.container {
    width: 100%;
    min-width: 105px;
    position: relative;
}

.trigger {
    cursor: pointer;
    background: #ffffff;
    border-radius: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border: none;
    vertical-align: middle;
    transition: box-shadow 0.4s ease;
}

.trigger:hover {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.menu {
    width: max-content;
    position: absolute;
    top: 50px;
    left: 0;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
    z-index: 1000;
}

.menuActive {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}